.bg-darkred, .card-header {
    background-color: darkred;
    color: yellow;
}

.bg-red, .card {
    background-color: red;
    color: yellow;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: yellow;
}

.pokedex-smallScreen {
    font-size: 2rem;
}

.pokedex-blackButton {
    color: lightblue;
}

a {
    color: lightblue;
    font-size: 2rem;
}

a:hover {
    color: cadetblue;
}

a:visited {
    color: cornflowerblue;
}

table.dataTable tbody tr {
    background-color: #9b1010;
}
